<div class="container">

  <h3>About Me</h3>

  <div class="card z-depth-6">
    <div class="card-content white-text">
      <div class="row">
        <div class="col m6">
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Sunsets don&#39;t get much better than this one over <a href="https://twitter.com/GrandTetonNPS">@GrandTetonNPS</a>. <a href="https://twitter.com/hashtag/nature?src=hash">#nature</a> <a href="https://twitter.com/hashtag/sunset?src=hash">#sunset</a> <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a></p>&mdash; US Dept of Interior (@Interior) 
            <a href="https://twitter.com/Interior/status/463440424141459456">May 5, 2014</a>
          </blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col m6">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col m3">
                <%= image_tag "avatar.jpg", class: "circle responsive-img" %>
              </div>
              <div class="col m9">
                <span class="black-text">
                  I thought what I'd do was, I'd pretend I was one of those deaf-mutes or should I?
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
